@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@font-face {
  font-family: "saudi_riyal";
  src: url("../fonts/regular/saudi_riyal.woff2") format("woff2"), url("../fonts/regular/saudi_riyal.woff") format("woff"), url("../fonts/regular/saudi_riyal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #DB0E13;
  --orange: #F8522C;
  --text: #2A353F;
  --blue: #16498B;
}

.text-white {
  color: #fff;
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-blue {
  color: var(--blue);
}

.text-color {
  color: var(--text);
}

.bg-red {
  background: var(--red);
}

.bg-orange {
  background: var(--orange);
}

.bg-blue {
  background: var(--blue);
}

.fz14 {
  font-size: 14px !important;
}

.fz16 {
  font-size: 16px !important;

  @media screen and (max-width:768px) {
    font-size: 14px !important;
  }
}

.fz18 {
  font-size: 18px !important;

  @media screen and (max-width:768px) {
    font-size: 16px !important;
  }
}

.fz20 {
  font-size: 20px !important;

  @media screen and (max-width:768px) {
    font-size: 18px !important;
  }
}

.fz24 {
  font-size: 24px !important;

  @media screen and (max-width:768px) {
    font-size: 20px !important;
  }
}

.fz36 {
  font-size: 36px !important;

  @media screen and (max-width:768px) {
    font-size: 32px !important;
  }
}

.fz40 {
  font-size: 40px !important;

  @media screen and (max-width:768px) {
    font-size: 24px !important;
  }
}

.fz48 {
  font-size: 48px !important;

  @media screen and (max-width:768px) {
    font-size: 35px !important;
  }
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

/* Ensure the icon class correctly loads the Riyal symbol */
.icon-saudi_riyal {
  font-weight: normal;
  font-style: normal;
}

.icon-saudi_riyal::before {
  content: "\e900";
  font-family: "saudi_riyal" !important;
  font-size: inherit;
  color: inherit;
}

.icon-saudi_riyal_new::after {
  content: "⃁";
  font-family: "saudi_riyal" !important;
  font-size: inherit;
  color: inherit;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--blue);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}


/* End Global Layout Classes */
::-moz-selection {
  background: var(--blue);
  color: white;
}

::selection {
  background: var(--blue);
  color: white;
}

/* Global Form Elements */
.form-control,
.form-select {
  padding: 12px 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 47, 135, 0.05);
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.form-control:focus,
.form-select:focus {
  border-color: #A3D55F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.custom-checkbox input[type=checkbox] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  /* Circular checkbox as per image */
  position: relative;
  flex-shrink: 0;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background-color: #A3D55F;
  border-radius: 50%;
  transition: 0.2s;
}

.custom-checkbox input[type=checkbox]:checked+.checkmark {
  border-color: #A3D55F;
}

.custom-checkbox input[type=checkbox]:checked+.checkmark::after {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox .text {
  font-size: 14px;
  color: #777;
}

.custom-checkbox .text a {
  color: #A3D55F;
}

.custom-radio {
  cursor: pointer;
}

.custom-radio input[type=radio] {
  display: none;
}

.custom-radio .check-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  flex-shrink: 0;
  display: inline-block;
}

.custom-radio .check-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  background-color: #A3D55F;
  border-radius: 50%;
  transition: 0.3s;
}

.custom-radio:has(input[type=radio]:checked) .check-circle {
  border-color: #A3D55F;
}

.custom-radio:has(input[type=radio]:checked) .check-circle::after {
  transform: translate(-50%, -50%) scale(1);
}

/* End Global Form Elements */
body {
  font-family: "Tajawal", sans-serif;
  background: #FAFAFA;
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.bg-none {
  background-image: none !important;
  background: none !important;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-64 {
  padding-top: 64px;
}

@media only screen and (max-width: 600px) {
  .pt-64 {
    padding-top: 40px;
  }
}

.pb-64 {
  padding-bottom: 64px;
}

@media only screen and (max-width: 600px) {
  .pb-64 {
    padding-bottom: 40px;
  }
}

.py-64 {
  padding-block: 64px;
}

@media only screen and (max-width: 600px) {
  .py-64 {
    padding-block: 40px;
  }
}




.btn {
  border-radius: 10px;
  transition: 0.3s;
  padding: 8px 25px;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.btn i {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 15px;
    padding: 9px 11px;
    font-size: 14px;
    flex-shrink: 0;
  }
}

.btn-orange {
  background: var(--orange);
  color: #fff;

  &:hover {
    background: var(--blue);
    color: #fff;
  }
}

.btn-orange-outlined {
  box-shadow: 0 0 0 1px var(--orange);
  color: var(--orange);

  &:hover {
    background: var(--orange);
    color: #fff;
  }
}

.btn-blue {
  background: var(--blue);
  color: #fff;

  &:hover {
    background: var(--orange);
    color: #fff;
  }
}

.btn-transparent {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.68);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding-inline: 15px;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05), inset 0 -0.125em 0.125em rgb(255 255 255 / 0%);
  font-size: 18px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.68);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

}

header {
  position: absolute;
  top: 0;
  inset-inline: 0;
  transition: 0.3s;
  z-index: 20;
  padding-block: 20px;
}



header .header-main-content {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo-img img {
  max-height: 47px;
  transition: 0.3s;
}

@media only screen and (max-width: 1024px) {
  header .logo-img img {
    max-height: 42px;
  }
}

.search-form-wrapper {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding-block: 0 0;
  padding-inline-start: 25px;
  padding-inline-end: 15px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: 0.3s;
}

.search-form-wrapper:focus-within {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.438);
}

.search-form-wrapper .search-form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-form-wrapper .search-form .search-btn {
  border: none !important;
  color: #120F0D;
  font-size: 20px;
  transition: 0.3s;
  padding-top: 8px;
}

.search-form-wrapper .search-form .search-btn:hover {
  color: #002F87;
}

.search-form-wrapper .search-form .form-control {
  padding-block: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #120F0D;
  font-size: 18px;
  box-shadow: none;
}

.search-form-wrapper .search-form .form-control::-moz-placeholder {
  color: #120F0D;
  font-size: 14px;
  opacity: 0.5;
}

.search-form-wrapper .search-form .form-control::placeholder {
  color: #120F0D;
  font-size: 14px;
  opacity: 0.5;
}

.search-form-wrapper.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  max-height: 100px;
  margin-top: 5px;
}

.header-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.main-menu a {
  text-transform: capitalize;
  transition: 0.3s;
}

.main-menu>li {
  margin-inline-end: 50px;
  position: relative;
}

.main-menu>li>a {
  color: var(--text);
  font-size: 18px;
  transition: 0.3s;
  display: block;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .main-menu>li>a {
    font-size: 16px;
  }
}

.main-menu>li:hover>a {
  color: var(--blue);
}

.main-menu>li:hover>a:before {
  width: 100%;
  transition: 0.3s;
  opacity: 1;
}

.main-menu>li:last-of-type {
  margin: 0;
}

.show-submenu,
.show-overlay {
  opacity: 1;
  visibility: visible;
}

.main-menu .menu-item-has-children {
  position: relative;
  padding: 0;
}

.main-menu .menu-item-has-children>a {
  /* color: #fff; */
  -moz-column-gap: 5px;
  column-gap: 5px;
  display: flex;
  align-items: baseline;
}

.main-menu .menu-item-has-children>a::after {
  content: "\f078";
  position: relative;
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  font-size: 10px;
  /* color: #fff; */
  transition: 0.3s;
}

.main-menu .menu-item-has-children>a {
  position: relative;
}

.main-menu .menu-item-has-children:hover>a {
  color: var(--blue);
}

.main-menu .menu-item-has-children:hover>a::after {
  color: var(--blue);
}

.main-menu .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  pointer-events: auto;
}

.main-menu .menu-item-has-children .sub-menu {
  width: 230px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform-origin: center top;
  transform-style: preserve-3d;
  border-radius: 8px;
  z-index: 12;
  background-color: #fff;
  position: absolute;
  top: 80px;
  inset-inline-start: -22px;
  list-style: none;
  box-shadow: 0px 2px 13px 9px rgba(0, 0, 0, 0.02);
  padding: 12px;
  transition: 0.3s;
}

.main-menu .menu-item-has-children .sub-menu li {
  text-align: center;
  transition: 0.3s;
}

.main-menu .menu-item-has-children .sub-menu a {
  padding: 10px;
  align-items: center;
  border-radius: 4px;
  line-height: 1.5;
  color: var(--text);
  text-align: center;
  justify-content: flex-start;
  font-weight: 400;
  display: flex;
  width: 100%;
  -moz-column-gap: 10px;
  column-gap: 10px;
  transition: color linear 0.2s;
}

.main-menu .menu-item-has-children .sub-menu a:hover {
  color: var(--blue);
}

.bars {
  z-index: 21;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  background: none;
  border: 0;
}

.bars .line {
  flex-shrink: 0;
  width: 25px;
  display: block;
  height: 1.5px;
  background-color: var(--text);
  transition: 0.3s;
}

body.overflow-hidden {
  .bars .line {
    background-color: white;

  }
}

.rotate-line1 {
  transform: rotate(45deg) translateX(-2px) translateY(-2px);
  transform-origin: 0% 0%;
}

.rotate-line3 {
  transform: rotate(-45deg) translateX(0px) translateY(0px);
  transform-origin: 0 100%;
}

.bars .hide-line2 {
  transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
}

.header-icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.header-icons .header-icon,
.header-icons a {
  font-size: 20px;
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s;
}

.header-icons .header-icon:hover,
.header-icons a:hover {
  color: var(--blue);
}

.search-icon.active i:before {
  content: "\e59b";
  font-family: "Font Awesome 6 Pro";
}

.dropdown-parent {
  position: relative;
  display: inline-block;
}

.dropdown-parent .dropdown-list {
  width: 230px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform-origin: center top;
  transform-style: preserve-3d;
  border-radius: 8px;
  z-index: 12;
  background-color: #F8F4EC;
  position: absolute;
  top: 80px;
  inset-inline-end: -22px;
  list-style: none;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 12px;
  transition: all 0.4s;
}

.dropdown-parent .dropdown-list li {
  text-align: center;
  transition: 0.3s;
}

.dropdown-parent .dropdown-list a {
  padding: 10px;
  align-items: center;
  font-size: 18px;
  color: var(--text);
  text-align: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  -moz-column-gap: 10px;
  column-gap: 10px;
  transition: 0.3s;
}

.dropdown-parent .dropdown-list a:hover {
  color: var(--blue);
}

.dropdown-parent:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  top: 100%;
  pointer-events: auto;
}

@media only screen and (max-width: 1200px) {
  .menu-item-has-children .sub-menu {
    inset-inline-start: 0;
    transform: unset;
  }

  .main-menu>li {
    margin-inline-end: 25px;
  }
}

@media only screen and (max-width: 992px) {
  .navigation .main-menu>li>a {
    color: #fff;

    &:hover {
      color: var(--orange);
    }
  }

  .navigation .container {
    padding-inline: 12px;
  }

  .rotate-line3 {
    transform: -45deg translateX(-1px) translateY(0px);
  }

  .logo-img {
    margin-inline-end: auto;
  }

  .header-main-content {
    height: auto;
    justify-content: flex-end;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }

  .main-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .main-menu>li {
    margin-inline-end: 0;
    margin-bottom: 25px;
  }

  .main-menu>li:nth-child(5) {
    margin-inline-start: unset;
  }

  .main-menu>li>a {
    font-size: 18px;
    font-weight: 500;
  }

  .main-menu>li:nth-child(4) {
    margin-inline-start: 0;
  }

  .bars {
    display: flex;
  }

  .navigation {
    overflow-y: auto;
    position: fixed;
    opacity: 0;
    transition-duration: 1s;
    visibility: hidden;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    padding-top: 3rem;
    background-color: var(--blue);
    transition: 0.3s;
    z-index: 20;
    clip-path: circle(0.5% at 0 0);
  }

  .open-sidebar {
    opacity: 1;
    visibility: visible;
    clip-path: circle(140.9% at 0 0);
    transition: 0.3s;
  }

  .main-menu .menu-item-has-children>a::after {
    font-size: 14px;
    transition: 0.3s;
    color: white !important;
  }

  .main-menu .menu-item-has-children>a.icon-rotate::after {
    transform: rotate(180deg);
  }

  .main-menu .menu-item-has-children>a::after {
    font-size: 15px;
  }

  .main-menu .menu-item-has-children .sub-menu {
    position: static;
    background-color: unset;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: unset;
    padding: 0;
    display: none;
    transition: none;
    width: 100%;
    padding-top: 18px;
  }

  .main-menu .menu-item-has-children .sub-menu li {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
    padding-inline-start: 14px;
  }

  .main-menu .menu-item-has-children .sub-menu li:before {
    content: "\e404";
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    color: var(--orange);
    font-size: 14px;
    transition: 0.3s;
  }

  .main-menu .menu-item-has-children .sub-menu li:not(:last-of-type) {
    margin-bottom: 17px;
  }

  .main-menu .menu-item-has-children .sub-menu li {
    text-align: start;
  }

  .main-menu .menu-item-has-children:hover .sub-menu {
    transform: unset;
  }

  .main-menu .menu-item-has-children .sub-menu a {
    display: flex;
    padding: 0;
    gap: 8px;
    width: -moz-max-content;
    width: max-content;
    color: white;
  }

  .main-menu .menu-item-has-children {
    width: auto;
    padding: 0;
  }

  .main-menu .menu-item-has-children>a {
    justify-content: space-between;
    cursor: pointer;
  }

  .main-menu .menu-item-has-children {
    line-height: normal;
  }
}

@media only screen and (max-width: 768px) {
  .navigation .container {
    padding-inline: 20px;
  }

  .main-menu .menu-item-has-children .sub-menu li a:hover {
    background-color: transparent;
    color: var(--orange);
  }

  .main-menu .menu-item-has-children {
    padding: 0;
  }
}

/* Hero Banner */
.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;



  .hero-content {
    padding-block: 25% 12%;


    @media only screen and (max-width: 768px) {
      padding-block: 6rem 2rem;
    }
  }

  &.inner-hero {
    background-position: center bottom;
    .hero-content {
      padding-block: 8rem 2rem;
      text-align: center;

      .hero-title {

        color: var(--text);

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

    }
  }
}

.about-us-section {
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--text);
  margin-bottom: 50px;
  padding-bottom: 15px;
  line-height: 1.2;
  position: relative;

  &.fancy {

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 75px;
      height: 19px;
      background: url('../images/title-shape.png') no-repeat center center;
      background-size: contain;
    }

  }
}



@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 20px;
  }
}

.speciality-item {
  background-color: var(--blue);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  max-width: 270px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;

  a {
    color: #fff;
  }

  .speciality-title {
    padding: 15px;
    margin-top: 15px;
  }

  &:hover {
    background-color: var(--text) !important;
  }
}

.teacher-item {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(23, 74, 140, 0.48) 100%);
  border: 1px solid var(--Color-4, rgba(23, 74, 140, 1));
  border-radius: 10px;
  padding: 16px;

  .teacher-avatar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .share-icon {
      i {
        font-size: 24px;
        color: var(--blue);
        transition: 0.3s;
      }

      &:hover {
        i {
          color: var(--orange);
        }
      }
    }
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .teacher-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--text);
    margin-bottom: 16px;
  }

  .teacher-speciality {
    font-size: 16px;
    color: rgba(42, 53, 63, 0.64);
    font-weight: 500;
    margin-bottom: 16px;
  }

  .teacher-description {
    font-size: 16px;
    color: var(--text);
    margin-bottom: 16px;
    padding-block: 8px;
    border-top: 1px solid rgba(219, 14, 19, 0.32);
    border-bottom: 1px solid rgba(219, 14, 19, 0.32);
  }

  .teacher-rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .rating-count,
  .rating-avg {
    text-align: center;
    color: var(--text);

    strong {
      font-size: 24px;
      font-weight: 500;
      display: block;
    }

    span {
      font-size: 14px;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .add-to-fav {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-content: center;

    i {
      color: var(--blue);
      font-size: 24px;
      transition: 0.3s;
    }

    &:hover,
    &.active {
      i {
        font-weight: 900;
      }
    }
  }
}

.fa-star {
  color: rgba(253, 187, 38, 1);
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background: rgba(22, 73, 139, 0.32);
    width: 12px;
    height: 9px;
    opacity: 1;
    transition: 0.3s;

    &.swiper-pagination-bullet-active {
      width: 30px;
      background: var(--blue);
      border-radius: 10px;
    }
  }
}


.cta {
  background: url(../images/cta-bg.png) center center no-repeat;
  background-size: cover;

  .cta-wrapper {
    position: relative;

    @media only screen and (max-width: 768px) {
      padding-block: 3rem;
    }
  }

  .cta-img-1 {
    position: absolute;
    bottom: 0;
    right: 0;

    @media only screen and (max-width: 1024px) {
      width: 30%;
    }
  }
}

.single-testimonial-card {
  background: rgba(22, 73, 139, 0.13);
  border-radius: 10px 117px 117px 10px;

  padding: 16px;

  .testimonials-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  }

  .rate {
    i {
      font-size: 14px;
    }
  }

  .testimonial-content {
    font-size: 15px;
    color: rgba(42, 53, 63, 0.8);
    margin-top: 5px;
    line-height: normal;
  }

}

/*FAQ*/



.single-faq-item {
  margin-bottom: 16px;
  border-radius: 10px;

  .faq-title {
    background: rgba(22, 73, 139, 0.14000000059604645);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    padding: 11px 15px;
    font-weight: 700;
    font-size: 18px;
    color: var(--text);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* margin-bottom: 5px; */
    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }

    &::after {
      content: "\e09d";
      font-family: "Font Awesome 6 Pro";
      font-weight: 400;
      font-size: 20px;
      color: var(--blue);
      transition: 0.3s;

      background: #fff;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      color: white;
      background: var(--blue);
      border-start-end-radius: 10px;
      border-start-start-radius: 10px;
      border-end-start-radius: 0;
      border-end-end-radius: 0;


      &::after {
        transition: 0.3s;
        transform: rotate(-80deg)
      }
    }
  }

  .faq-content {
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
    display: none;
    color: #fff;
    border-start-end-radius: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    background: var(--blue);
    border-top-color: transparent;

    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }
  }
}

/* Footer */
.main-footer {
  margin-top: 100px;
  background: url('../images/footer-bg.png');
  background-size: cover;
  padding-top: 32px;
  color: var(--text);
}

.footer-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1rem;

  @media only screen and (max-width: 767px) {
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "\f078";
      font-family: "Font Awesome 6 Pro";
      font-weight: 900;
      transition: transform 0.3s;
      font-size: 12px;
    }

    &.active::after {
      transform: rotate(180deg);
    }
  }
}

.footer-menu {
  margin-bottom: 32px;

  @media only screen and (max-width: 600px) {
    gap: 20px !important;
    margin-bottom: 10px;
  }

  ul {
    line-height: 1.8;

    @media only screen and (max-width: 767px) {
      display: none;
      padding-top: 10px;
    }
  }

  a {
    font-size: 16px;
    color: var(--text);
    font-weight: 500;
    transition: 0.3s;
    display: flex;

    &:before {
      content: "\f053";
      font-family: "Font Awesome 6 Pro";
      font-weight: 400;
      font-size: 16px;
      color: var(--red);
      transition: 0.3s;
      margin-inline-end: 10px;

    }


    &:hover {
      color: var(--red);
    }
  }
}

.footer-social {
  a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--red);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.3s;

    &:before {
      display: none;
    }

    &:hover {
      background: var(--blue);
      color: #fff;
    }
  }
}

.copyrights {
  padding-block: 24px;
  border-top: 1px solid rgba(219, 14, 19, 0.16);

  a {
    color: var(--red);
    transition: 0.3s;

    &:hover {
      color: var(--blue);
    }
  }
}

.floating-icons {
  position: fixed;
  bottom: 20px;
  inset-inline-start: 20px;
  z-index: 18;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .up-btn {

    background-color: var(--blue);
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.47));
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 20;

    &.show {
      opacity: 1;
      visibility: visible;
      transition: 0.3s;
    }


    &:hover {
      background-color: white;
      color: #120F0D;
    }
  }

  .whatsapp-icon {

    background-color: #2AA81A;
    color: white;
    padding: 10px;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    z-index: 20;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: pulse-green 2s infinite;

    &:hover {
      background-color: var(--blue);
      color: white;
    }
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(42, 168, 26, 0.93);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(225, 78, 29, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(225, 78, 29, 0);
  }
}